<h3>Por país</h3>
<hr>
<!-- Section with input to make queries -->
<div class="row">
    <div class="col">
        <!-- Calls the onEnter sending the arguments from child, parent received it -->
        <app-pais-input 
            (onEnter)="buscar( $event )"
            (onDebounce)="mostrarSugerencias( $event )"
            placeholder="Buscar país"
        ></app-pais-input>
    </div>
</div>

<!-- Show errors -->
<div *ngIf="hayError" class="alert alert-danger mt-3">
    No se han econtrado resultados para: {{ ultimo }}
</div>

<!-- Structure to show result -->
<div *ngIf="paises.length>0 && !hayError" class="row">
    <div class="col">
        <app-pais-table [paises]="paises"></app-pais-table>
    </div>
</div>