<div class="row container mt-4">
  <div class="col-2">
    <h2>Búsqueda</h2>
    <hr>
    <ul class="list-group">
      <!-- routerLink                 => Specifies the route to which you are going by clicking
           routerLinkActive           => Marks the active link
           [routerLinkActiveOptions]  => Specifies strict mode when a route is "" to this-->
      <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item"
      >
        Por país
      </li>
      <li routerLink="region"
        routerLinkActive="active"
        class="list-group-item"
      >
        Por región
      </li>
      <li routerLink="capital"
        routerLinkActive="active"
        class="list-group-item"
      >
        Por capital
      </li>
    </ul>
  </div>

  <div class="col">
    <h2>Ruta actual</h2>
    <hr>
    <!-- The <router-outlet> component is dynamic depending the current route -->
    <router-outlet></router-outlet>
  </div>
</div>