<div class="animate__animated animate__fadeIn animate__faster">
    <h3>Por región: {{ regionActiva | titlecase }}</h3>
    <hr>
    <!-- Section with buttons to make queries -->
    <div class="row">
        <div class="col">
            <!-- Calls the request depending region selected -->
            
            <!-- Choices to add a class to element-->
            <!-- [class.btn-primary]="region === regionActiva" -->
            <!-- [ngClass]="{'btn-primary': regionActiva === region,
                'btn-outline-primary': regionActiva !== region}" -->
                <!-- [class]=" (regionActiva === region ) ? 'btn btn-primary' : 'btn btn-outline-primary'" -->
                <button 
                *ngFor="let region of regiones"
                [class]="setClass( region )"
                (click)="buscar( region )">
                {{ region | titlecase }}
            </button>
        </div>
    </div>
</div>

<div *ngIf="paises.length>0 && !hayError" class="row">
    <div class="col">
        <app-pais-table [paises]="paises"></app-pais-table>
    </div>
</div>